article {
    font-family: sans-serif;
    font-size: : 25px;
    font-style: oblique;
    font-weight: 900;
    color: blue;
}

article>span {
    color: red;
    text-decoration: underline;
}

nav {
    overflow: auto;
}

nav>ul {
    padding: 0;
    margin: 0;
}

nav>ul li {
    list-style: none;
    float: left;
    width: 100px;
    text-align: center;
    line-height: 50px;
}

nav>ul li a {
    text-decoration: none;
}


/* ----- */

li a,
.dropbtn {
    padding: 0px 16px;
    display: inline-block;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
}

.dropdown-content a {
    padding: 0px 16px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* ----- */

.box {
    width: 200px;
    height: 200px;
    border: 1px solid;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: aqua;
}

.jumbotron {
    height: 300px;
    background-image: url(https://source.unsplash.com/800x600?nature);
    color: white;
    text-align: center;
    padding: 300px 0px;
}

.jumbotron h1 {
    font-size: 30px;
    font-weight: bold;
}

.gravatar {
    text-align: center;
    margin: 0 auto;
}

.gravatar img {
    width: 50%;
    height: 60%;
    border-radius: 50%;
}

.ad .thumbnail {
    border-style: none;
}

footer {
    background-color: #333;
    color: #eee;
    height: 250px;
    clear: both;
}

.text:after {
    content: "";
    background-color: aqua;
    display: inline-block;
    width: 100px;
    border: 1px solid;
}

.text:before {
    content: "";
    background-color: aqua;
    display: inline-block;
    width: 100px;
    border: 1px solid;
}

.screencover {
    position: relative;
    border: 1px solid aqua;
}

.screencover:after {
    position: absolute;
    top: 0px;
    left: 190px;
    background-color: aqua;
    opacity: 0.5;
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    border-radius: 50%;
}

.screencover:hover:after {
    opacity: 0;
}
